[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
numpy = "*"
cx-oracle = "*"
pyodbc = "*"
tornado = "==5.1.1"
notebook = "*"
mysqlclient = "*"
xlrd = "*"

[dev-packages]
notebook = "*"
tornado = "==5.1.1"
pylint = "*"
flake8 = "*"


[requires]
python_version = "3.7"
