[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
sqlalchemy = "*"
numpy = "*"
cx-oracle = "*"
pyodbc = "*"
xlrd = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"

[dev-packages]
flake8 = "*"
pylint = "*"
notebook = "*"
